.DS_Store
.ipynb_checkpoints/
.idea/
__pycache__/

ops_lasagna.egg-info/

venv/
venv_ops/
venv_ops_new/

# Google IDX environment specifications
.idx/

# Outputs that are too large for GitHub
example_analysis/1_sbs/output/
example_analysis/1_sbs/processing/

# Snakemake process files
example_analysis/1_sbs/.snakemake/
